@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Madimi+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Playfair', serif;
font-family: 'Poppins', sans-serif; */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  font-family: "Madimi One", sans-serif;
}

p,
button,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Kode Mono", monospace;
}

::-webkit-scrollbar {
  display: none;
}

#select {
  -webkit-appearance: none;
}
