@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,600;0,5..1200,700;1,5..1200,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Playfair', serif;
font-family: 'Poppins', sans-serif; */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  font-family: "Playfair", serif;
}

p,
button,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
.app {
  background-image: url("../src/assets/bgimg.jpg");
  background-repeat: no-repeat;
  height: 130vh;
}
@media only screen and (max-width: 600px) {
  .app {
    height: 115vh;
  }
}
